body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

/* Fonts are 
font-family: 'Crimson Pro', serif;
font-family: 'Poppins', sans-serif; */


/* Navigation bar styling */
#navBar {
    background: #082432;
    color: #ffffff;
    font-size: 0.68rem;
}

#navBar a {
    margin-top: auto;
    color: #fff;
    border-bottom: none;
    text-decoration: none;
    font-weight: 500;
    padding-bottom: 8px;
    margin-bottom: auto;
    letter-spacing: 0.02rem;
}

#navBar a:hover {
    color: #fff;
    padding-bottom: 4px;
    border-bottom: 1.9px solid #fff;
}

#navBar img {
    width: 80px;
    float: left;
}

#navBar ul {
    list-style-type: none;
    padding: 0;
    margin-right: 2rem !important;
    margin-left: auto;
}

#navBar ul.horizontal li {
    display: inline-block;
    line-height: 53px;
    margin-left: 4rem;
    text-decoration: none;
}

.callCTA {
    border-radius: 3px;
    border: 2px solid #fff;
    background: #3f9cb2;
    color: #fff;
    margin-top: 8px;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 0.75rem;
}

.callCTA:hover {
    background: #0c5c6f;
    border-color: #fff;
    color: #fff;
}

@media (max-width: 992px) {
    .callCTA {
    margin-top: 1rem !important;
    }
}

@media (max-width: 992px) {
    #navBar a:hover {
        border-bottom: 0px solid #fff;
        color: #dddddd;
        padding-bottom: 8px;
    }
}

@media (min-width: 992px) {
    #navBar li {
    margin-left: 1rem;
    }
}


.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}
.navbar-dark .navbar-toggler {
    border: none;
}

/* Hero */

#hero {
    background-color: #082432;
    color: #fff;
}

#hero p {
    line-height: 1.7;
}

header {
    max-width: 1024px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3rem;
}


/* Generic Page Styles */
.left-block {
    max-width: 580px;
}

h1 {
    margin-bottom: 1rem;
    font-family: 'Crimson Pro', Georgia, 'Times New Roman', Times, serif;
    font-size: 2.75rem;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: -0.02rem;
}

h2 {
    margin-bottom: 1rem;
    font-family: 'Crimson Pro', Georgia, 'Times New Roman', Times, serif;
    font-size: 2.4rem;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: -0.02rem;
}

h3 {
    font-family: 'Crimson Pro', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.9rem;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: -0.02rem;
    margin-bottom: 1rem;
}

p {
    letter-spacing: 0.01rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #3f9cb2db 60%);
}


.btnCTA-blsq {
    border-radius: 3px;
    border: 2px solid #fff;
    background: #3f9cb2;
    color: #fff;
    margin-top: 8px;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 0.75rem;
}

.btnCTA-rdcr {
    border-radius: 50px;
    border: 2px solid #fff;
    background: #f05d61;
    color: #fff;
    margin-top: 8px;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 0.75rem;
}

.btnCTA-rdcr:hover {
    border-radius: 50px;
    border: 2px solid #fff;
    background: #96282b;
    color: #fff;
    margin-top: 8px;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 0.75rem;
}

.btnCTA-rdcr-gh {
    border-radius: 50px;
    border: 2px solid #f05d61;
    background: transparent;
    color: #f05d61;
    margin-top: 8px;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 0.75rem;
}

.btnCTA-rdcr-gh:hover {
    border-radius: 50px;
    background: #f05d61;
    color: #fff;
    margin-top: 8px;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 0.75rem;
}

.btnCTA-cr-gh {
    border-radius: 50px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    margin-top: 8px;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 0.75rem;
}

.btnCTA-cr-gh:hover {
    border-radius: 50px;
    border: 2px solid #fff;
    background: #0c5c6f;
    color: #fff;
    margin-top: 8px;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 0.75rem;
}

.m-r {
    margin-right: 0.5rem;
}

.m-l {
    margin-left: 0.5rem;
}

.hero-slant-rtl-dbl {
    position: relative;
    height: 300px;
    background: #082432;
}
  
.hero-slant-rtl-dbl::after {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='rgb(8 36 50)' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 100,0 0,100' /%3E%3C/svg%3E");   
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 10vw;
    width: 100%;
    position: absolute;
    bottom: -9.9vw;
}

  .slant-ltr-dbl::after {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='rgb(8 36 50)' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 100,0 0,100' /%3E%3C/svg%3E");   
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: '';
    height: 10vw;
    width: 100%;
    position: absolute;
    -webkit-transform: scaleX(-1);
    transform: scaleY(-1);
}

@media (max-width: 435px) {
#hero  {
    height: 65vh;
    }
}

section {
    margin-bottom: 8rem;
}

.right-section {
    text-align: right;
}

.gutter {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 1044px) {
 .gutter {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
} 
}

.feature {
    height: 200px;
    width: 100%;
    background-color: #082432;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding-left: 2rem;
}

.img-left {
    float: left;
    width: 45%;
}

.p-right {
    float: right;
    width: 50%;
}

.img-right {
    float: right;
    width: 50%;
}

.p-left {
    float: left;
    width: 45%
}

.ptn-container {
    width: 100%;
    clear: both;
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: inline-block;
}

@media (max-width: 495px) {
    .img-right, .img-left, .p-left, .p-right{
        float: none;
        margin: 0;
        width: 100%;
        padding-top: 1rem;
    }
    }

.services {
    background: #082432;
    color: #fff;
    margin-bottom: 0;
    grid-template-columns: repeat(4, auto);
    height: 0px;
    width: 0px;
}

.services-col {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    max-width: 240px;
    margin-left: 1rem;
    margin-right: 1rem;
    display: none;
}

.navBar-services:hover .services-col {
    height: auto;
    width: auto;
}

.navBar-services {
    color: #fff;
}

.services {
    box-sizing: border-box;
    min-width: 0px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-around;
    visibility: visible;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
    color: white;
    z-index: 3;
    margin: 0px;
    gap: 60px;
    transition: all 200ms ease 0s;
}

.sml-icon {
    height: 40px;
}

.services-col h3 {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.services-col p {
    font-size: .9rem;
}